.idea/
*.sqlite3
*.db
*.pid
static/release/css
static/release/js
static/release/img
docker-compose.yml
docker-compose-nginx.yml
oj.conf
*.log
log/

env/
bin/
build/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
tmp/
test_case/
release/
upload/