{% extends "oj_base.html" %}
{% block title %}
{{ announcement.title }}
{% endblock %}
{% block css_block %}
<style type="text/css">
    p {
        word-wrap: break-word;
        word-break: normal;
    }
</style>
{% endblock %}
{% block body %}
<div class="container main">
    <h1 class="text-center">{{ announcement.title }}</h1>

    <div class="text-muted text-center">
        作者：{{ announcement.created_by }}
        &nbsp;&nbsp;&nbsp;
        创建时间：{{ announcement.create_time }}
        {% ifnotequal announcement.create_time announcement.last_update_time %}
        &nbsp;&nbsp;&nbsp;
        最后更新：{{ announcement.last_update_time }}
        {% endifnotequal %}
    </div>

    <div class="problem-detail">
        {{ announcement.content|safe }}
    </div>
</div>
{% endblock %}