{% extends "oj_base.html" %}
{% block title %}
浙江科技学院 OnlineJudge
{% endblock %}
{% block css_block %}
<style type="text/css">
    .img_style{
        -webkit-transition: all .2s linear;
        transition: all .2s linear;
    }
    .img_style:hover{
        -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, .1);
        box-shadow: 0 15px 30px rgba(0, 0, 0, .1)
    }
</style>
{% endblock %}
{% block body %}
<!-- Content -->
<div class="container">

    <!-- Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Welcome To
                <small>Zhejiang University of Science and Technology</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-6 portfolio-item">
            <img class="img-responsive img_style" src="/static/img/index/zust4.jpg" alt="">
            <h3>
                The Setting Sun
            </h3>
            <p>Hold me close,under the sunset and let Gods reds and oranges soothe your eyes,like this is all a
                dream.</p>
        </div>
        <div class="col-md-6 portfolio-item">
            <img class="img-responsive" src="/static/img/index/zust2.jpg" alt="">
            <h3>
                Blue Sky
            </h3>
            <p>The sky, the sky was a perfect shade of dark blue.the sky, the sky won't stop reminding me of you.The
                sky, they sky was a perfect shade of you.</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-6 portfolio-item">
            <img class="img-responsive" src="/static/img/index/zust3.jpg" alt="">
            <h3>
                Lover Slope
            </h3>
            <p>A lover feels,
                what a lover sees,
                a stealer feels,
                what a lover thrills,
                the heart wants,
                what it wants,
                who really knows,
                what is real,
                the heart aches,
                if it wasn't real,
                true love,
                not denied,
                in a box,
                to the side,
                a lover feels,
                what a lover sees,
                a stealer feels,
                what a lover thrills,
                to share a love which is Blind.</p>
        </div>
        <div class="col-md-6 portfolio-item">
            <img class="img-responsive" src="/static/img/index/zust1.jpg" alt="">
            <h3>
                The Dim Light Of Night
            </h3>
            <p>Once was loved,
                but was suddenly stopped.
                Loyal but betrayed,
                Until led to astray.
                In the dark it took flight.
                Then he was born, the luminous night.</p>
        </div>
    </div>


    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-6 portfolio-item">
            <img class="img-responsive" src="/static/img/index/zust7.jpg" alt="">
            <h3>
                Spring
            </h3>
            <p>Spring smiles
                this morning;
                the bright sun
                has remembered
                warmth.
                Even the birds
                and buds
                seem surprised
                and happy.
                A morning
                for meditation
                and temperate
                thoughts.
                Coffee and
                sunshine;
                A delight
                simply
                to awaken
                and to breathe.
                Serenity;
                equanimity,
                contentment.
                Spring smiles
                this morning,
                and I with it.</p>
        </div>
        <div class="col-md-6 portfolio-item">
            <img class="img-responsive" src="/static/img/index/zust8.jpg" alt="">
            <h3>
                Sun Shine
            </h3>
            <p>Let my mornings be yours
                Wake me up, gently
                Stir the rays of hope in my heart
                Just look at me, lovingly
                Sun, Shine on me.

                Hold me up with your light rays
                touching my skin softly
                Welcome me to another day,
                With you, in your glory
                Sun, Shine on me.

                Make my thoughts brighter
                as we pass through the day slowly
                Protect me with your warmth
                Let nothing else touch me
                Sun, Shine on me.</p>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<footer>
    <div class="footer-blurb">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 footer-blurb-item">
                    <img class="img-circle" src="/static/img/index/a.png" alt="" width="200"
                         height="100">
                    <h3>Thinking</h3>
                    <p>first step,thinking to understand the meaning of the problem and the solution to the problem.</p>
                </div>
                <div class="col-sm-4 footer-blurb-item">
                    <img class="img-circle" src="/static/img/index/c.png" alt="" width="200"
                         height="100">
                    <h3>Idea</h3>
                    <p>second step,you get a idea after long and careful consideration.</p>
                </div>
                <div class="col-sm-4 footer-blurb-item">
                    <img class="img-circle" src="/static/img/index/m.png" alt="" width="200"
                         height="100">
                    <h3>Accepted</h3>
                    <p>third step,congratulations,you solve the problem!</p>
                </div>

            </div>
            <!-- /.row -->
        </div>
    </div>

    <div class="copyright">
        <div class="container"></div>
    </div>
</footer>
{% endblock %}

{% block js_block %}
{% endblock %}
